@using ServerSideApp.Resources

@{
    ViewBag.Title = Global.Edit;
}
<h2>@Global.Edit</h2>
<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.Partial("EditPartial")
</form>

<div>
    @Html.ActionLink(Global.ReturnList, "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}