@using ServerSideApp.Models.Workout
@using ServerSideApp.Resources
@model EditPM
@{
    ViewBag.Title = Global.Edit;
}
<h2>@Global.Edit</h2>
<form action="" method="post">
    @Html.AntiForgeryToken()

    @Html.Partial("EditPartial")
</form>

<div>
    @Html.ActionLink(Global.ReturnList, "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}